$possible-themes: fastcampus, fc-b2b, coloso, zerobase

.fcfc-root
  --fcfc-background: #fff
  --fcfc-foreground: #000

  --fcfc-nav-background: #000

  --fcfc-fab-background: #000
  --fcfc-fab-foreground: #fff
  // --fcfc-history-hover:

  --fcfc-input-background: #f0f0f0
  --fcfc-input-placeholder: #757575
  --fcfc-input-border-active: #444
  --fcfc-input-border-inactive: #e6e8eb
  --fcfc-input-section-border: #f2f2f2
  --fcfc-input-button-active: #000
  --fcfc-input-button-inactive: #d3d3d3

  --fcfc-chat-background-ours: var(--fcfc-background)
  --fcfc-chat-background-theirs: #f3f3f3
  --fcfc-chat-section-border: #e6e8eb

  // themes
  --fcfc-theme-header: url('@/themes/default/header.svg')
  --fcfc-theme-logo: url('@/themes/default/logo.svg')
  --fcfc-theme-chatbot-icon: url('@/themes/default/chatbot-icon.svg')

  &.theme-zerobase
    --fcfc-nav-background: #4a19da

  &.theme-coloso
    --fcfc-nav-background: #ed2040

  &.theme-zerobase, &.theme-coloso
    --fcfc-fab-background: #fff
    --fcfc-fab-foreground: #000


  @each $theme in $possible-themes

    &.theme-#{$theme}
      // --fcfc-theme-accent
      --fcfc-theme-header: url('@/themes/#{$theme}/header.svg')

      @if $theme == 'fc-b2b'
        $theme: 'fastcampus'

      --fcfc-theme-logo: url('@/themes/#{$theme}/logo.svg')
      --fcfc-theme-chatbot-icon: url('@/themes/#{$theme}/chatbot-icon.svg')
